@import '../../styles/media.scss';

.container {
  @include media-resp(lg) {
    display: flex;
  }
  .containerInner {
    .laptop {
      display: none;
    }
    .special {
      display: none;
    }
    @include media-resp(md) {
      .mobile {
        display: none;
      }
      .laptop {
        display: flex;
      }
    }
    @include media-resp(lg) {
      .laptop {
        display: none;
      }
      .special {
        display: flex;
      }
    }
  }
  p {
    text-align: center;
    font-size: 2rem;
    font-weight: 700;
    color: crimson;
  }
}
